@charset "UTF-8";

/*style for impressora*/
*{
    margin: 10px;
    padding: 10px;
}
html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}
article::after{
    content: 'this website done put  www.brunolixo.com';
}
menu{
    display: none;
}
article{
    width: 100%;
}