@charset "UTF-8";

/*all medias*/
/*typical device breakpoints*/
/*
cell: small 576px - 767px
table: med - 768px to 1024px
desq: 992px larg - 1025px 
tv:  - 1200px 
extra large: 1400
*/

@media print{

}
@media screen and (min-width: 767px) and (max-width: 1024px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);

        img#phone {display: none;}
        img#tablet {display: block;}
        img#print {display: none;}
        img#desktop {display: none;}
        img#tv {display: none;}
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background-image: url(../imagens/back-pc.jpg);
        img#phone {display: none;}
img#tablet {display: none;}
img#print {display: none;}
img#desktop {display: block;}
img#tv {display: none;}
    }
}
@media screen and (min-width: 1200px){
    body{
        background-image: url(../imagens/back-tv.jpg);
        img#phone {display: none;}
img#tablet {display: none;}
img#print {display: none;}
img#desktop {display: none;}
img#tv {display: block;}
    }
}
