@charset "UTF-8";

/*mobal first*/

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
main{
    background-color: rgba(255, 255, 255, 0.637);
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    padding: 30px;
}
img#phone {display: block;}
img#tablet {display: none;}
img#print {display: none;}
img#desktop {display: none;}
img#tv {display: none;}

h1{
    text-align: center;
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.534);
}

img{
    display: block;
    margin: auto;
}