@charset "UTF-8";
/*geral*/
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    background-size: contain;
    background-repeat: no-repeat;
}
h1{
    color: white;
    text-shadow: 2px 2px 0px rgb(10, 33, 97);
    padding: 10px;
}